<html>
  <head>
    <title>Online Voting Platform | Pranshu Aggarwal</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-gradient-to-tl from-green-200 to-green-500 min-h-screen w-full"
  >
    <div class="flex justify-center text-blue-800">
      <%- include ('header') %>
    </div>
    <div class="flex flex-col justify-center items-center p-4">
      <div class="flex flex-col justify-center md:w-2/5 w-full">
        <p class="font-bold text-2xl">
          One shot platform to host elections and view results
        </p>
        <p class="font-semi-bold text-xl pt-4">
          <li>Host free elections</li>
          <li>Add specific voters for each election</li>
          <li>View results graph.</li>
        </p>
        <div class="flex flex-col justify-center items-center">
          <p class="text-gray-600 text-2xl font-bold pt-4">Admin Login</p>
          <div
            class="flex flex-col justify-center items-center md:w-2/5 w-full"
          >
            <div
              class="flex flex-col justify-center pt-4 items-center pt-8 w-full"
            >
              <b>Existing User?</b>
              <a
                class="bg-blue-500 border-2 border-blue-800 flex justify-center hover:bg-blue-700 text-white font-bold p-1 rounded-lg w-full"
                href="/login"
                >Log In</a
              >
            </div>
            <div class="flex flex-col justify-center pt-4 items-center w-full">
              <b>New User?</b>
              <a
                class="bg-blue-500 border-2 w-full flex justify-center border-blue-800 hover:bg-blue-700 text-white font-bold p-1 rounded-lg"
                href="/signup"
                >Sign Up</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
